<template>
  <span style="padding-left:10px;">
    <!-- TODO: Support styles -->
    <input v-model="name">
    <button @click="run()">clickME</button>
  </span>
</template>


<script>
import * as gowasm from "/tales/hello_tale_by_golang/web/wasm_exec.js";


export default {
  props:{
    whisper_key: {
      type: String,
      required: true
    }
  },
  data: () => {
    return {
      name: "Whisper Master",
      myAwesomeCallback: (nm=>{}),
      go: new Go()
    };
  },
  async created() {
    let comp = this;
    let result = await WebAssembly.instantiateStreaming(
      fetch("/tales/hello_tale_by_golang/web/main.wasm"),
      this.go.importObject
    );
    let key = "owisp_"+this.whisper_key
    this.go.argv.push(key)
    this.instance = result.instance;
    window[key] = this;
    this.go.run(this.instance);
  },
  methods: {
    run() {
      this.myAwesomeCallback(this.name);
    }
  }
};
</script>
