<template>
  <div id="app">
    <Welcome/>
    <OWisp ref="owisp"/>
    <div>
      <button @click="loadComp()">load</button>
      <input v-model="cmp">
    </div>
  </div>
</template>

<script>
import Welcome from "./components/Welcome.vue";
import OWisp from "./components/OWisp.vue";

export default {
  name: "app",
  data() {
    return {
      children: [],
      cmp: "hello_tale_by_rust", // TODO: change default tale to owisp (by golang)
      template: ""
    };
  },
  computed: {
    owisp() {
      return this.$refs.owisp;
    }
  },
  async mounted() {
    let comp = this;
    let talesMap = await this.owisp.getTales();
    let tales = Object.values(talesMap);
    if (tales.length > 0) {
      let firstTale = tales[0];
      comp.cmp = firstTale.name;
    }
  },
  methods: {
    async loadComp() {
      let tale = await this.owisp.loadTale(this.cmp);
      this.owisp.spawnWhisper(tale);
    }
  },
  components: {
    Welcome,
    OWisp
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
