<template>
  <div>
    <template v-for="(whisper, index) in whispers">
      <component
        :specTales="specTalesFor(whisper.name)"
        :whisper_key="whisper.name+'_'+index"
        :ref="whisper.name"
        :is="whisper.component"
        :key="whisper.name+'_'+index"
      ></component>
    </template>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
  name: "app",
  data() {
    return {
      whispers: [],
      cmp: "whisper_agent", //TODO should implement agent
      template: "",
      specTales: []
    };
  },
  async mounted() {
    console.log("Spawning whispers for default tales");
    //TODO rewrite to default owisp spec
    this.specTales = await this.getTales();
    await Promise.all(
      Object.values(this.specTales).map(async tale => {
        if (tale.default) {
          let loaded = await this.loadTale(tale.name);
          await this.spawnWhisper(loaded);
        }
      })
    );
  },
  methods: {
    specTalesFor(name) {
      if (name == "whisper_agent") {
        return this.specTales;
      }
      return null;
    },
    getTales() {
      return axios.get("/tales").then(r => r.data);
    },
    async loadTaleMain(cmp) {
      const moduleSpecifier = "/tales/" + cmp + "/main.js";
      const module = await import(/* webpackIgnore: true */ moduleSpecifier);
      return module;
    },
    async loadTaleTemplate(cmp) {
      let response = await axios.get("/tales/" + cmp + "/template.html");
      let data = response.data;
      return data;
    },
    async loadTale(name) {
      let main = await this.loadTaleMain(name);
      let template = await this.loadTaleTemplate(name);
      return {
        name: name,
        main: main,
        template: template
      };
    },
    async spawnWhisper(tale) {
      let newComp = Vue.component(tale.name, function(resolve, reject) {
        resolve(
          Object.assign(
            {
              template: tale.template
            },
            tale.main.default
          )
        );
      });
      this.whispers.push({
        name: tale.name,
        component: newComp,
        tale: tale
      });
    }
  }
};
</script>

