<template>
  <div>
    <img alt="Wisp logo" width="220" height="200" src="@/assets/wisp-logo.svg">
    <h1>Welcome to O'Wisp!</h1>
    <p>
      This is a demonstration page. <br>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="http://owisp.gitlab.io" target="_blank" rel="noopener">owisp documentation</a>.
    </p>
    <h3>Wispers</h3>
    <ul>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Welcome'
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
