<template>
  <span style="padding-left:10px;"> <!-- TODO: Support styles -->
    <input v-model="name">
    <button @click="run()">clickME</button>
  </span>
</template>


<script>
import {
  greet,
  default as init
} from "/tales/hello_tale_by_rust/web/hello_tale_by_rust.js";
async function run() {
  await init("/tales/hello_tale_by_rust/web/hello_tale_by_rust_bg.wasm");
}
run();

export default {
  data: () => {
    return {
      name: "Whisper Master"
    };
  },
  methods: {
    run() {
      greet(this.name);
    }
  }
};
</script>
