<template>
  <div>
    {{message}}
  </div>
</template>


<script>
import * as gowasm from "/tales/whisper_agent/web/wasm_exec.js";


export default {
  props:{
    whisper_key: {
      type: String,
      required: true
    },
    specTales:{
      type: Object,
      required: true
    }
  },
  data: () => {
    return {
      message: "Whisper agent starting...",
      go: new Go()
    };
  },
  async created() {
    let comp = this;
    this.message = "Whisper agent starting... Fetching remote web assembly"
    let result = await WebAssembly.instantiateStreaming(
      fetch("/tales/whisper_agent/web/main.wasm"),
      this.go.importObject
    );
    this.message = "Whisper agent starting... Initiating the instance"
    let key = "owisp_"+this.whisper_key
    this.go.argv.push(key)
    this.instance = result.instance;
    window[key] = this;
    this.go.run(this.instance);
    this.message = "Whisper agent started!"
  },
};
</script>
